# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
deprecated/out/
report_writer_tool_old/out/
report_writer_tool_old/

# Node
node_modules/
npm-debug.log

# Editor
.vscode/
.idea/

# Env
.env
.env.local

# Logs
*.log
